<h3>Subtopics for choosen topic:</h3>
<span>{{ errorMessage }}</span>

<div>
    <ul class="subtopics">
        <li *ngFor="let sub of subtopics">
            {{ sub.title }}
            <button *ngIf="!sub.completed" (click)="complete(sub)" class="complete">
                complete
            </button>
            <span *ngIf="sub.completed" style="color: green;">(completed)</span>
        </li>
    </ul>
</div>

<h3>Add new subtopic</h3>

<div class="add-subtopic">
    <label>Title:
        <input #title />
    </label>
    <button (click)="add(title.value); title.value = ''">
        Add
    </button>
</div>

<br>
<button (click)="goBack()">Go Back</button>